<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="header3.css">
</head>
<body>
    <header>
        <section>
            <nav class="box1">
                <h1>The power of Memory</h1>
                <div class="box2">
                    <a href="Home.php">ACCUEIL</a>
                    <a href="login.php">JEU</a>
                    <a href="register.php">SCORES</a>
                    <a href="nous_contacter.php">NOUS CONTACTER</a>
                </div>
            </nav>
        </section>
    </header>
</body>
</html>