html {
    margin: 0;
    padding: 0;
    background-color: rgb(12, 11, 47);
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(assets/login_background.jpeg)40% 50%;
    padding-top: 55px;
    padding-bottom: 50px;
    color: white;
    font-family: 'muli-semibold', sans-serif;
    font-style: bold;
}

.login {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 7%;
    padding-bottom: 10%;
}

.reglink {
    text-decoration: none;
    color: orange;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mailInput {
    background-color: #282645;
    border: none;
    color: #6a6c80;
    border-radius: 5px;
    width: 375px;
    height: 40px;
    margin-top: 10px;
    padding-left: 22px;
}

.logs {
    display: flex;
    flex-direction: column;
}

.btnConnect {
    cursor: pointer;
    background-color: #e99122;
    color: white;
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 40px;
    align-content: flex-start;
    margin-top: 15px;
}

/* PASSWORD VALIDATION */

:root {
    --password-validation-LOW-color: red;
    --password-validation-MEDIUM-color: orange;
    --password-validation-HIGH-color: green;
}

.password-validation-slider {
    height: 10px;
}

.password-validation-slider,
.password-validation-text {
    transition: all ease 0.2s;
}

.password-validation-wrapper[level="LOW"]>.password-validation-text {
    color: var(--password-validation-LOW-color);
}

.password-validation-wrapper[level="LOW"]>.password-validation-slider {
    background: var(--password-validation-LOW-color);
    width: 20%;
}

.password-validation-wrapper[level="MEDIUM"]>.password-validation-text {
    color: var(--password-validation-MEDIUM-color);
}

.password-validation-wrapper[level="MEDIUM"]>.password-validation-slider {
    background: var(--password-validation-MEDIUM-color);
    width: 60%;
}

.password-validation-wrapper[level="HIGH"]>.password-validation-text {
    color: var(--password-validation-HIGH-color);
}

.password-validation-wrapper[level="HIGH"]>.password-validation-slider {
    background: var(--password-validation-HIGH-color);
    width: 100%;
}